{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div>
        {{ form.preferred_currency.label_tag }} {{ form.preferred_currency }}
        {{ form.preferred_currency.errors }}
    </div>
    <div>
        {{ form.timezone.label_tag }} {{ form.timezone }}
        {{ form.timezone.errors }}
    </div>
    <div>
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div>
        {{ form.password2.label_tag }} {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <button type="submit">Create account</button>
</form>
{% endblock %}
